# disable car charging during peak power cost
# for SRP in Phoenix peak hours are
# May 1st - Oct 31  1300-2000
# Nov 1 - Apr 30  0500-0900 1700-2100
# Monday through Friday
# This does not account for holidays which can be considered off-peak
# %24FD disables controler
# %24FE enables controler

# disable times
0 13 * 5-10 1-5 curl -s http://192.168.13.59/r?rapi=%24FD
0 5,17 * 1-4,10-12 1-5 curl -s http://192.168.13.59/r?rapi=%24FD

# enable times
# summer time start delayed 15 minutes for air conditioning startup
15 20 * 5-10 1-5 curl -s http://192.168.13.59/r?rapi=%24FE
0 9,21 * 1-4,10-12 1-5 curl -s http://192.168.13.59/r?rapi=%24FE

